<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{#power-calendar center=centerDate daysComponent="calendar-days" navComponent="calendar-nav" onSelect=(action 'onSelect') onCenterChange=(action 'onCenterChange') as |calendar|}}
        {{calendar.nav}}
        {{calendar.days events=eventDates}}
      {{/power-calendar}}
    </div>
  </div>
</div>

{{!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      {{power-calendar class="power-calendar-default" center=centerDate onSelect=(action 'onSelect') onCenterChange=(action 'onCenterChange')}}
    </div>
  </div>
</div> --}}
